// Basic button styling
.wp-enhancement-option-button
  width: 100%
  height: 100%
  user-select: none
  i
    margin-right: 8px // Space between icon and text
    font-size: 18px // Icon size
    text-align: center