.ai-enhancement-gizmo
    position: absolute
    top: 0
    right: 2px
    width: fit-content
    height: fit-content
    z-index: 100

    opacity: 0.2
    transition: opacity 0.3s ease

    &:hover 
        opacity: 1

    &:not(.inline)
        transform: translateY(22px)