<div
  [ngClass]="[
    editFieldContainerClass,
    fieldName,
    active && '-active' || '',
    wrapperClasses || '-small'
  ]"
  (dragover)="startDragActivation($event)"
>
  <opce-editor-enhancer #editorEnhancer>
    <div
      #editContainer
      class="editor-container"
      [hidden]="!active"
    ></div>

    <div 
      [class.inline]="editorEnhancer.isInline"
      class="ai-enhancement-gizmo"
      [hidden]="!active || !isTextInputField"
    >
      <opce-enhance-button></opce-enhance-button>
      <opce-enhancement-dropdown></opce-enhancement-dropdown>
    </div>
</opce-editor-enhancer>

  <div
    (click)="activateIfEditable($event)"
    (keydown.enter)="activateIfEditable($event)"
    [hidden]="active"
    tabindex="-1"
    #displayContainer
  ></div>
</div>
