<div
  [ngClass]="[
    editFieldContainerClass,
    fieldName,
    active && '-active' || '',
    wrapperClasses || '-small'
  ]"
  (focusin)="onFocusChange()"
  (focusout)="onFocusChange()"
  (dragover)="startDragActivation($event)"
>
  <opce-editor-enhancer [focusedEvent]="focused">
    <div
      #editContainer
      class="editor-container"
      [hidden]="!active"
    ></div>

    <div 
      [class.inline]="inline"
      [class.forceOn]="forceAIGizmo"
      class="ai-enhancement-gizmo"
      [hidden]="!active || !inFocus"
      *ngIf="isTextInputField"
    >
      <opce-enhance-button></opce-enhance-button>
      <opce-enhancement-dropdown
        (toggleChanged)="onAiGizmoToggle($event)">
      </opce-enhancement-dropdown>
    </div>
</opce-editor-enhancer>

  <div
    (click)="activateIfEditable($event)"
    (keydown.enter)="activateIfEditable($event)"
    [hidden]="active"
    tabindex="-1"
    #displayContainer
  ></div>
</div>
