<div #dropdown class="enhancement-dropdown-container">
    <button class="wp-enhancement-dropdown" (click)="setToggled(!toggled)">
        <i class="fa-solid fa-angle-down"></i>
    </button>
    <div class="dropdown-menu" [style.display]="toggled ? 'block' : 'none'">
      <ul>
        <li>
            <button (click)="undo.emit()">
                <i class="fa-solid fa-rotate-left"></i>Undo
            </button>
        </li>
        <li>
            <button (click)="redo.emit()">
                <i class="fa-solid fa-rotate-right"></i>Redo
            </button>
        </li>
      </ul>
    </div>
</div>