// Define colors
$blue: #063673
$purple: #8140b1
$hover-gradient: linear-gradient(45deg, lighten($blue, 10%), lighten($purple, 10%))
$active-bg: darken($purple, 5%)
$button-gradient: linear-gradient(45deg, $blue, $purple)
$text-color: #fff
$menu-bg: #f9f9ff
$separator: rgba(130, 100, 160, 0.15)

.enhancement-dropdown-container
  position: relative
  display: inline-flex
  align-items: center
  ovwerflow: visible

  .wp-enhancement-dropdown
    display: inline-flex
    align-items: center
    justify-content: center
    background: $button-gradient
    border: none
    border-radius: 1px 15px 15px 1px
    padding: 6px 4px
    color: $text-color
    font-size: 16px
    font-weight: 600
    cursor: pointer
    transition: background 0.3s ease, transform 0.2s ease
    margin-left: 3px
    height: 32px

    i
      font-size: 16px
      vertical-align: middle
      display: inline-block

    &:hover
      background: lighten($blue, 5%)
      transform: translateY(-2px)

    &:active
      transform: translateY(1px)

    &:focus
      outline: none
      box-shadow: 0 0 0 1px rgba($purple, 0.3)
