<div #dropdown class="enhancement-dropdown-container">
    <button class="wp-enhancement-dropdown" (click)="toggled = !toggled">
        <i class="fa-solid fa-angle-down"></i>
    </button>
    <div class="dropdown-menu" [style.display]="toggled ? 'block' : 'none'">
      <ul>
        <li>
            <opce-enhancement-option-button #undo>
                <i class="fa-solid fa-rotate-left"></i>Undo
            </opce-enhancement-option-button>
        </li>
        <li>
            <opce-enhancement-option-button #redo>
                <i class="fa-solid fa-rotate-right"></i>Redo
            </opce-enhancement-option-button>
        </li>
      </ul>
    </div>
</div>