// Define colors for the button
$blue: #063673  //original: #6c3be7
$purple: #8140b1    //original: #4e8bf2
$disabled-blue: #3b4b60
$disabled-purple: #89699f
$purple-blue-gradient: linear-gradient(45deg, $blue, $purple)
$disabled-color: linear-gradient(45deg, $disabled-blue, $disabled-purple)  // Grey out the button

// Basic button styling
.opce-enhance-button
  display: inline-flex
  align-items: center
  justify-content: center
  background: $purple-blue-gradient
  border: none
  border-radius: 15px 1px 1px 15px
  padding: 8px 8px
  color: #fff
  font-size: 16px
  font-weight: 500
  height: 36px
  cursor: pointer
  transition: background 0.3s ease, transform 0.2s ease

  // Icon styling
  i
    //margin-right: 8px // Space between icon and text
    font-size: 18px // Icon size

  // Hover effect for the button
  &:hover
    background: $blue
    transform: translateY(-2px) // Slight lift effect

  // Active state (when clicked)
  &:active
    transform: translateY(1px) // Slight press effect

  // Focus state for accessibility
  &:focus
    outline: none
    box-shadow: 0 0 0 1px rgba($purple, 0.5)

  // Disabled or loading state (greys out the button)
  &.loading
    background: $disabled-color
    cursor: not-allowed
    opacity: 0.6
    pointer-events: none
